{% extends "_layout.twig" %}

{% block title %}Error{% endblock %}

{% block content %}
<div style="text-align: center; padding: 4rem 0;">
    <h1 style="font-size: 4rem; color: #dee2e6; font-family: system-ui;">404</h1>
    <p style="font-family: system-ui; color: #666;">Page not found</p>
    <a href="/" style="color: #0066ff; font-family: system-ui;">Go home</a>
</div>
{% endblock %}
